node_modules
dist
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__/
*.py[cod]
*$py.class
venv/
.env
.sqlite
.db
blog.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
